.block_text {
    padding: 292px 60px 110px 60px;
    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 150%;
        color: #171E25;
        h2 {
            font-size: 48px;
            margin-top: 60px;
        }
    }
}