body {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
    outline: none;
    font-family: 'Navigo';
    scroll-behavior: smooth;
}
html,
body {
    margin: 0;
    padding: 0;
    background: #F5F5F5;
    height: 100%;
}
.container {
    width: 1080px;
    height: 1920px;
    overflow: auto;
    position: relative;
}
h1 {
    margin: 0;
    margin-bottom: 60px;
    font-family: 'Navigo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    color: #171E25;
}
ul {
    padding: 0;
    list-style: none;
    li {
        position: relative;
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 150%;
        color: #171E25;
        &:not(:last-child) {
            margin-bottom: 60px;
        }
        padding-left: 49px;
        &:before {
            content: '';
            position: absolute;
            top: 5px;
            left: 0;
            width: 20px;
            height: 29px;
            background: url("data:image/svg+xml,%3Csvg width='29' height='20' viewBox='0 0 29 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29 10L0 -1.26763e-06L-8.74228e-07 20L29 10Z' fill='%23125C48'/%3E%3C/svg%3E%0A") 50% no-repeat;
        }
    }
}